# START - BY XADILLAX

# SYSTEM
GAME_TITLE		= 神々が恋したスハラナスタ - Secret Garden -

# FILE
AVG_SCRIPT_FILE		= media/script/script.jp.spt
AVG_BG_PATH		= media/background/
AVG_BGM_PATH		= media/music/
AVG_MAID_DRAW_PATH	= media/maid/
AVG_VOICE_PATH		= media/voice/
LEVEL_PATH		= media/level/
VIDEO_PATH		= media/video/
TEMP_PATH		= tmp.secretgarden.xadillax

# LOGO
LOGO_FADE_TIMER		= 0.5
LOGO_PAUSE_TIMER	= 3.0

# AVG
TEXT_CHAR_PER_TIMER	= 0.05
TEXTBOX_RECT_LEFT	= 0
TEXTBOX_RECT_RIGHT	= 800

TEXTBOX_RECT_TOP	= 395

TEXTBOX_RECT_BOTTOM	= 595

TALKER_RECT_LEFT	= 60
TALKER_RECT_RIGHT	= 215
TALKER_RECT_TOP		= 410
TALKER_COLOR		= ffffff
TALKER_SIZE		= 20

TEXT_POS_LEFT		= 75
TEXT_POS_TOP		= 460
MAX_TEXT_NUM_PER_LINE	= 72
TEXT_COLOR		= ffffff
TEXT_SIZE		= 20

# BLOCK
BLOCK_WIDTH		= 20
BLOCK_HEIGHT		= 20
BLOCK_ROW_COUNT		= 30
BLOCK_COL_COUNT		= 30
BALL_LENGTH		= 10
FLAP_Y			= 560.0

FLAP_LENGTH		= 20
TREASURE_MAX_SPEED	= 150.0
TREASURE_MIN_SPEED	= 50.0
TREASURE_TIME		= 10.0

SPEED_PER_SCALE		= 1.20
TREASURE_PROB		= 5
FLAP_SPEED 		= 200.0
BALL_SPEED		= 200.0
MAX_HORIZONTAL_RATE	= 0.98
PRE_BOSS		= Murasaki

# END
